#guitarPanel {
    text-align: center;
}

#guitarControls {
    /* Start off hidden;
     * only show once Web Audio audio context acquired successfully */
    display: none;
    margin-right: auto;
    margin-left: auto;
}

#guitarStartStopButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.controlsRow label:first-child {
    font-weight: bold;
}

.controlsRow .radioCell {
    display: inline-block;
    width: 80px;
}

/* Override Bootstrap defaults */
input[type='range'], output {
    display: inline;
}

@media screen and (min-width: 420px) {
    #guitarControls {
        width: 400px;
    }
    .controlsRow {
        text-align: left;
        display: inline-block;
        width: 400px;
    }
    .controlsRow label:first-child {
        display: inline-block;
        width: 220px;
    }
    .controlsRow input[type=range] {
        width: 120px;
    }
}
@media screen and (max-width: 419px) {
    #guitarControls {
        width: 300px;
    }
    .controlsRow {
        text-align: left;
        display: inline-block;
        width: 300px;
    }
    .controlsRow label:first-child {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .controlsRow input[type=range] {
        width: 250px;
    }
}
